.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  font-size: 16pt;
  -webkit-margin-before:0;
}

p {
  margin: 0;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}
select {
  font-size: 16pt;
  padding: 8px;
}
table {
  border: none;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}
textarea {
  width: 95%;
}
hr {
  clear: both;
}

.hidden { display:none; }
.header {
  position: relative;
  display: block;
  width: 100%;
}
.logo {
  width: 64px;
  height: 64px;
}
h1.pageTitle div {
  display: inline-block;
  position: relative;
  left: -14px;
  top: 10px;
  font-size: 12pt;
  color: #0080ff;
  text-decoration: super;
  transform: rotate(-22deg);
}
h1.pageTitle {
  font-size: 18pt;
}
.inputs {
  display: flex;
}
.shortId {
  width: 130px;
  display: none;
}
input[type=text] {
  font-size: 16pt;
  padding: 8px;
}
.wide {
  flex: 1;
}
.assessmentDetails label {
  padding: 0 8px;
  font-weight: bold;
}
.checkBar {
  min-height: 40px;
  background-color: #da1b2c;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  font-size: 14px;
}
.checkBar span:hover label {
 color: white;
}
.checkBar strong {
  padding: 0 12px;
}

.react-tabs {
  margin: 0;
  padding: 0;
}
.react-tabs .react-tab {
  background: rgb(250, 250, 250);
  border: 1px solid #ddd;
  padding: 1em;
  min-height: 144px;
}
.react-tabs tab-content {
  width: 80%;
}
.header {
  width: 90px;
  float: left;
}
.tab-content {
  margin-left: 115px;
  text-align: left;
}

.react-tabs .header ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-tabs .header ul li {
  display: block;
  height: 36px;
  text-align: left;
  box-sizing: border-box;
}
.react-tabs .header ul li a {
  display: block;
  line-height: 18px;
  padding: 8px;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #ffafaf;
  cursor: pointer;
}

.react-tabs .header .selected a {
  background-color: #da1b2c !important;
  color: #fff !important;
  font-weight: bold;
}

.react-tabs .header a:hover {
  color: #fff;
  background-color: #a51426;
}
td.left {
  text-align: left;
  vertical-align: top;
  font-size: smaller;
  padding: 8px;
  width: 140px;
  max-width: 140px;
  background-color: rgba(255,255,255,.4);
}
.left h2 {
  text-decoration: none;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}
td {
  vertical-align: top;
  margin: 0;
  padding: 4px 0; 
}

tbody tr:nth-child(odd) {
   background-color: #f8f8ff;
}
tbody tr:nth-child(even) {
   background-color: #e0f1ff;
}

.tags {
  padding: 4px;
  margin-top: 5px;
  display: block;
}
.tags b {
  display: block;
}
.tag {
  padding: 6px;
  margin: 0 6px 6px 0;
  border-radius: 4px;
  float: left;
}
.tag_production { background-color: #00ff00 }
.tag_editorial { background-color: #865f7f }
.tag_UX { background-color: #0080ff }
.tag_dev { background-color: #00ffff }
.tag_live { background-color: #ff0080 }
.tag_phase1 { background-color: #68b75f }
.tag_phase2 { background-color: #5fb79c }
.tag_phase3 { background-color: #45a5b5 }
.tag_phase4 { background-color: #3192d3 }

.tag_tenon { background-color: #295BA9; color: #ccc; }
.tag_JAWS { background-color: #015BB8; color: #f8f8ff; }
.tag_NVDA { background-color: #F47721; color: #543A6F; }

.summary {
  padding: 8px 4px;
}

ul.checklist, ul.checklist li {
  list-style: none;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-padding-start: 0;
}
td.checkbox {
  margin: 0 4px;
  width: 40px;
}
table.checklist {
  min-width: 100%;
}
table.checklist label {
  user-select: none;
}
table.checklist td.owner input {
  width: 80px;
}
table.checklist td.notes {
  width: 30px;
}
table.checklist td.owner {
  width: 80px;
  text-align: right;
}
table.checklist input[type=text] {
  font-size: 12pt;
  padding: 3px;
}
table.checklist input[type=checkbox] {
  margin: 8px 12px;
  display: inline-block;
  transform: scale(1.5);
}
table.checklist td {
  vertical-align: top;
}
table.output td,  table.output th {
  text-align: left
}
.notesWrap {
  padding-top: 8px;
}
.references {
  margin: 8px 0;
}
.references a {
  margin-right: 8px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button, input[type=submit] {
  padding: 6px 10px;
  background-color: #da1b2c;
  color: white;
  font-size: 16pt;
  border: 0;
  border-radius: 6px;
  margin: 0 8px;
}
nav.mainButtons li {
  list-style: none;
  display: inline;
}
nav.mainButtons a {
  margin: 6px;
  padding: 8px;
  background-color: #da1b2c;
  border-radius: 6px;
  text-decoration: none;
  color: #f8f8ff;
}
nav.mainButtons li:hover {
  opacity: 0.8;
}
.assessmentList a.check {
  text-decoration: none;
  margin-right: 2px;
}
.assessmentList td, .assessmentList th {
  text-align: left;
  padding: 8px 12px;
}
.noteButton {
  background: url('/public/note-64x64.png') no-repeat transparent;
  cursor: pointer;
  background-size: 16px 16px;
  background-position: center;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}
.toolLink {
  margin: 0 3px;
}
.rightAlign {
  text-align: right;
}
.accordionTitle {
  text-align: left;
}
.reportCard {
  width: 820px;
  margin: 0 auto;
}
.reportTable th {
  font-weight: bold;
}
.reportCard .title {
  width: 500px;
}
.reportCard .status {
  width: 50px;
}
.reportCard .notes {
  width: 270px;
}
.reportTable {
  text-align: left;
}
.intro {
  align-items: flex-start;
}
.intro p {
  text-align: left;
  padding: 0 12px;
}
.teamlist {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.teamlist li {
  list-style: none;
  text-align: left;
  padding: 8px;

}
#createWithData button:hover {
  background-color: #a2d6dd;
}
#createWithData button {
  background-color: #00758E;
  border-radius: 0;
}
#createWithData {
  background-color: #45a5b5;
}
.wideUrl {
  width: 90%;
}
.center {
  text-align: center;
}
.accordion__body {
    display: block;
    animation: fadein .35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein .35s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

